<h1> Ajuda</h1>

<div class="row">
    <h3> </h3>




    <h3> </h3>



    <h3></h3>
    <p></p>

    <h3></h3>
    <p> </p>

    <h3> </h3>



</div>





<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Browser não suporta geolocation</a>
            </h3>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <p> Possiveis soluções: </p>
                <p>- Tente mudar o browser </p>
                <p>- Atualizar o browser em questão </p>
                <p>Se mesmo assim o browser não suportar geolocation, não pode efetuar o registo
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Não está no local certo.</a>
            </h3>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Caso esteja no local certo:
                </p>
                <p>- tente ativar o GPS e verifque a sua posição </p>
                <p>Se não estiver no local certo </p>
                <p>- Não é possível efetuar o registo</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">O serviço não está disponível.</a>
            </h3>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                    Se por algum motivo aparecer esta mensagem, significa que o serviço está em baixo, tente novamente mais tarde ou entre em contacto com os administradores
                    para ver o que se passa.
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"> Problema Efetuar Registo</a>
            </h3>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                    Significa que o registo falhou, verifique a sua ligação á internet e tente novamente,se o problema persistir entre em contacto
                    com os administradores
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Problema Importar </a>
            </h3>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">
                <p> Significa que a importação falhou, verifique a sua ligação á internet e tente novamente,se o problema persistir
                    entre em contacto com os administradores </p>
            </div>
        </div>
    </div>
</div>