<h1> Historico Registos</h1>



<script id="template2" type="text/x-handlebars-template" data-template-example="">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Atividade</th>
                <th>Tipo Atividade</th>
                <th>Cidade</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            {{#each dados}}
            <tr>
                <td>{{titulo}}</td>
                <td>{{tipo_atividade}}</td>
                 <td>{{cidade}}</td>
                <td>{{data}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</script>



<script>
    $(function domReady($) {
        // Cache the jQuery object
        var $content = $('#container');

        $content.handlebars('add', '#template', {
            remove: false
        });
        // $content.handlebars('add', '#template2', { remove: false });


        // Testing only!

        // $content.handlebars('remove', '#template'); // Remove single template id
        // $content.handlebars('remove'); // Remove all templates
        window.console.log('Rendered templates: %o', $content.handlebars('get')); // Get the rendered templates for the content element
        window.console.log('Compiled templates: %o', $content.handlebars('compiled')); // Get the compiled templates for the content element
    });
</script>

<script type="text/javascript">
    var $content = $('#container');

    $(function () {
        var dados = "";
        var data1 = [];
        $.ajax({
            type: 'POST',
            dataType: "json",
            contentType: 'application/json',
            url: 'https://logspot.herokuapp.com/historico',
            success: function (data) {
                console.log("Já estou")
                context = {
                    dados: data
                };
                console.log(context)
                $content.handlebars('remove', '#template2', context, {
                    remove: false
                });
                $content.handlebars('add', '#template2', context, {
                    remove: false
                });
            }
        })






    });
</script>