<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pagina Principal</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="https://ipppt-my.sharepoint.com/personal/9150293_esmad_ipp_pt/_layouts/15/guestaccess.aspx?docid=1ec6efa9a36e64335b8cb81f5224e5f8b&authkey=Ae0tFaBNriVG5m8r1vDea9Y"></script>
    <script src="http://localhost:3000/static/scripts/script.js"></script>  
    <script src="http://cdn.rawgit.com/hilios/jQuery.countdown/2.0.4/dist/jquery.countdown.min.js"></script>

    <link rel="stylesheet" href="http://localhost:3000/static/css/Login.css">


    <script>
           var map;




        function myMap() {
            var mapProp = {
                center: new google.maps.LatLng(51.508742, -0.120850),
                zoom: 5,
                mapTypeId: 'satellite'
            };
            map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        }
   
    </script>
</head>

<body>
    <!--navbar-->
    <div class="row">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">LogSpot</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Listas</a></li>
                    <li><a href="#">Registos</a></li>
                    <li><a href="#">Contactos</a></li>
                    <li>
                        <form><input type="text" name="search" placeholder="Search.."></form>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!--conteudo-->

    <div class="container" id="content">

        <script id="templateDadosAtividades" type="text/x-handlebars-template" data-template-example="">
            {{#each dados}}
            <div class="row" id="atividades">
                <div class="col-xs-6" id="{{id_atividade}}">
                    <h1>{{titulo}} </h1>
                    <h3>{{tipo_atividade}} </h3>
                    <h3>{{nome}} </h3>
                    <h3>{{cidade}} </h3>
                    <h3 id="dia">{{dia_realizacao}} </h3>
                    <button class="btn btn-primary" id="registar">Registar </button>
                </div>


                <div class="col-xs-6" id="countdown" data-countdown="{{data}}">


                </div>
            </div>
           {{/each}}

       
        </script>
    </div>
    <hr>
   

    <!--footer-->
    <footer class="container-fluid text-center">
        <p>Este rodapé é muito original</p>
        <p>Melhor grupo, AJP!</p>
    </footer>




    <script>
        $(function domReady($) {


            // Cache the jQuery object
            var $content = $('#content');
          

            // $content.handlebars('add', '#template2', { remove: false });


            // Testing only!

            // $content.handlebars('remove', '#template'); // Remove single template id
            // $content.handlebars('remove'); // Remove all templates
            window.console.log('Rendered templates: %o', $content.handlebars('get')); // Get the rendered templates for the content element
            window.console.log('Compiled templates: %o', $content.handlebars('compiled')); // Get the compiled templates for the content element
        });
    </script>


    <script type="text/javascript">
        var $content = $('#content');
        $(function () {
            var dados = "";
            var data1 = [];

            
            $.ajax({
                type: 'POST',
                dataType: "json",
                contentType: 'application/json',
                url: 'http://localhost:3000/registoActividade',
                success: function (data) {
                    console.log("Já estou")
                    context = {
                        dados: data
                    };
                    console.log(context)

                    $content.handlebars('add', '#templateDadosAtividades', context, {
                        remove: false
                    });
                    console.log(data[0].data)
                    // count(data[0].dia_realizacao)
                    countdw()
                }
            })


        });
    </script>

</body>





</html>