<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>mockup teste</title>

    <!--Icon da barra de separadores-->
    <link rel="icon" href="https://logspot.herokuapp.com/static/css/LogSpot.ico" type="icon">
</head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<script src="https://logspot.herokuapp.com/static/scripts/index.js"></script>





<body>



    <div id="erro" class="row">



        <h1> Ooops !!!! </h1>


        <h1> Erro 404- Página Não Encontrada</h1>

        <img class="img-responsive" style="max-width: 25%; margin: 0 auto" src="https://logspot.herokuapp.com/static/img/error.png"
            alt="error">




        <button style="margin-top: 5%; margin-bottom:5%" id="voltarPagina" class="btn btn-primary">Pagina Principal </button>


    </div>


</body>