<h1>Experiencia de fazer adição de actividade</h1>
<form>
        <div class="input-group"><span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
            </span>
                <input id="nome" type="text" class="form-control" name="nome_actividade" placeholder="Nome da Atividade">
        </div>
        <div class="input-group"><span class="input-group-addon">
            <i class="glyphicon glyphicon-lock"></i>
            </span>
                <input id="coord" type="text" class="form-control" name="coord" placeholder="Coordenadas(lat/long)">
        </div>
        <div class="input-group"><span class="input-group-addon">
            <i class="glyphicon glyphicon-lock"></i>
            </span>
                <input id="data" type="data" class="form-control" name="data" placeholder="data">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
</form>