<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pagina Principal</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--Scripts-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="https://ipppt-my.sharepoint.com/personal/9150293_esmad_ipp_pt/_layouts/15/guestaccess.aspx?docid=1ec6efa9a36e64335b8cb81f5224e5f8b&authkey=Ae0tFaBNriVG5m8r1vDea9Y"></script>
    <!--<script src="https://logspot.herokuapp.com/static/script.js"></script>-->


    </script>
</head>

<body>
    <!--navbar-->
    <div class="row">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">LogSpot</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Listas</a></li>
                    <li><a href="#">Registos</a></li>
                    <li><a href="#">Contactos</a></li>
                    <li>
                        <form><input type="text" name="search" placeholder="Search.."></form>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!--conteudo-->
    <div class="container" id="content">
        <h2 style="text-align: center">Listas</h2>
        <p style="text-align: center">Aqui é onde fica a lista de quiser pesquisar</p>
        <input type="text" name="search" placeholder="Search..">

        <script id="template2" type="text/x-handlebars-template" data-template-example="">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Id</th>
                        <th>Id Localização</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each dados}}
                    <tr>
                        <td>{{nome}}</td>
                        <td>{{id_empresa}}</td>
                        <td>{{id_contacto}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </script>
    </div>
    <hr>

    <!--footer-->
    <footer class="container-fluid text-center">
        <p>Este rodapé é muito original</p>
        <p>Melhor grupo, AJP!</p>
    </footer>



    <script>
        $(function domReady($) {
            // Cache the jQuery object
            var $content = $('#content');

            $content.handlebars('add', '#template', { remove: false });
            // $content.handlebars('add', '#template2', { remove: false });


            // Testing only!

            // $content.handlebars('remove', '#template'); // Remove single template id
            // $content.handlebars('remove'); // Remove all templates
            window.console.log('Rendered templates: %o', $content.handlebars('get')); // Get the rendered templates for the content element
            window.console.log('Compiled templates: %o', $content.handlebars('compiled')); // Get the compiled templates for the content element
        });
    </script>


    <script type="text/javascript">
        var $content = $('#content');
        $(function () {
            var dados = "";

            var data1 = [];
            $.ajax({
                type: 'POST',
                dataType: "json",
                contentType: 'application/json',
                url: 'https://logspot.herokuapp.com/home2',
                success: function (data) {
                    console.log("Já estou")
                    context = { dados: data };
                    console.log(context)
                    $content.handlebars('remove', '#template2', context, { remove: false });
                    $content.handlebars('add', '#template2', context, { remove: false });
                }
            })






        });
    </script>





</body>




</html>