@import url("https://fonts.googleapis.com/css?family=Mitr");
@import url("https://fonts.googleapis.com/css?family=Chonburi");
html {
	height: 100%;
}

body {
	/*background-image: url("fundo8.jpg");*/
	background-color: white;
	/*min-height: 100vh;*/
	position: relative;
	margin: 0;
	margin-bottom: 0;
}
.box {
	float:none;

	width: 60px;
	height: 20px;
	margin: 0 auto;
	
}

.blue {
	background: rgba(5, 162, 235, 1);
	width: 60px;
}

.pink {
	background: rgba(255, 99, 500, 1);
}

.yellow {
	background: rgba(255, 206, 86, 1);
}

/*.panel-default>.panel-heading {
	border: 1px solid transparent;
	background-color: #337ab7;
	color: white;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
	background-color: white;
	padding: 0px;
}

.panel-body>li:hover {
	background-color: lightcyan;
}*/


/*.col-md-6{
	padding-right:15px; 
	background-color: white;
}*/

h1 {
	margin-left: 2%;
	color: #02577a;
	font-family: 'Chonburi';
	font-size: 40px;
}

h4 {
	font-size: 21px;
	color: #02577a
}

.input-group,
.btn-default {
	margin: 2%;
}

#atividades {
	padding-left: 0px;
	padding-bottom: 15px;
	padding-right: 15px;
}

#sucess {
	/*-webkit-box-shadow: 0px 3px 19px -3px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 3px 19px -3px rgba(0, 0, 0, 1);
	box-shadow: 0px 3px 19px -3px rgba(0, 0, 0, 1);
	border-radius: 5px;*/
	text-align: center;
	margin-top: 5%;
	max-width: 95%;
	margin-left: 2.5%
}

#sucess h1 {
	color: #6ce679;
}

#erro {
	/*-webkit-box-shadow: 0px 3px 19px -3px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 3px 19px -3px rgba(0, 0, 0, 1);
	box-shadow: 0px 3px 19px -3px rgba(0, 0, 0, 1);
	border-radius: 5px;*/
	text-align: center;
	margin-top: 5%;
	max-width: 95%;
	margin-left: 2.5%
}

#erro h1 {
	color: #ff3b3b;
}

#countdown {
	font-size: 50pt;
	line-height: 180px;
}

section:nth-child(even) {
	background-color: white;
	width: 100%;
	border-top: 1pt solid;
	border-top-color: #02577a
}

section:nth-child(odd) {
	background-color: white;
	width: 100%;
	border-top: 1pt solid;
	border-top-color: #02577a
}

#container #atividades2 {
	/*margin-left: 5px;
	margin-right: 10px;
	/*background-color: rgb(0, 113, 222);
	 border-radius: 2%;
	padding-bottom: 15px;
	box-shadow: 2px 2px 2px rgb(1, 108, 254);
	
	border-style: solid rgb(1, 108, 254);
	border-left: 1pt ;
	border-top: 1pt ;*/
	margin-left: 2%;
	margin-right: 2%;
}

#container #atividades2 h1 {
	font-size: 20pt;
	font-family: Mitr;
	text-align: center
}

#container {
	margin-top: 4%;
	margin-bottom: 250px;
}

.container#content2 {
	background-color: transparent;
}


/*** Table Styles **/

.table-fill {
	background: white;
	border-radius: 3px;
	border-collapse: collapse;
	margin: auto;
	max-width: 600px;
	padding: 5px;
	width: 100%;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	animation: float 5s infinite;
	display: block;
}

thead,
tbody,
tr,
td,
th {
	display: block;
}

tr:after {
	content: ' ';
	display: block;
	visibility: hidden;
	clear: both;
}

tbody {
	max-height: 400px;
	overflow-y: auto;
}

tbody td,
thead th {
	width: 25%;
	float: left;
}

table {
	width: 100%
}

th {
	color: #D5DDE5;
	background: #02577a;
	border-bottom: 4px solid #9ea7af;
	border-right: 1px solid #343a45;
	font-size: 23px;
	font-weight: 100;
	padding: 24px;
	text-align: left;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	vertical-align: middle;
}

th:first-child {
	border-top-left-radius: 3px;
}

th:last-child {
	border-top-right-radius: 3px;
	border-right: none;
}

tr {
	border-top: 1px solid #C1C3D1;
	border-bottom-: 1px solid #C1C3D1;
	color: #666B85;
	font-size: 16px;
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}


/*
tr:hover td {
	background: lightblue;
	color: #FFFFFF;
	border-top: 1px solid #22262e;
	border-bottom: 1px solid #22262e;
}*/


/*
tr:first-child {
	border-top: none;
}

tr:last-child {
	border-bottom: none;
}

tr:nth-child(odd) td {
	background: #EBEBEB;
}

tr:nth-child(odd):hover td {
	background: lightblue;
}

tr:last-child td:first-child {
	border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
	border-bottom-right-radius: 3px;
}

#obterAtividade-alterar {
	background: deepskyblue;
	color: whitesmoke
}

td {
	background: #FFFFFF;
	padding: 20px;
	text-align: left;
	vertical-align: middle;
	font-weight: 300;
	font-size: 18px;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	border-right: 1px solid #C1C3D1;
}

td:last-child {
	border-right: 0px;
}

th.text-left {
	text-align: left;
}

th.text-center {
	text-align: center;
}

th.text-right {
	text-align: right;
}

td.text-left {
	text-align: left;
}

td.text-center {
	text-align: center;
}

td.text-right {
	text-align: right;
}*/

form {
	width: 700px;
	margin: 0 auto;
	padding-top: 20px
}


/*footer*/

footer {
	position: absolute;
	bottom: 0;
}

.footer-distributed {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 1% 1%;
	margin-top: 1%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
	display: inline-block;
	vertical-align: top;
}


/* Footer left */

.footer-distributed .footer-left {
	width: 40%;
	padding-left: 3%;
}

.footer-distributed .footer-left p {
	padding-top: 2%;
}


/* The company logo */

.footer-distributed h2 {
	color: #ffffff;
	font: normal 52px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h2 span {
	color: #5383d3;
}


/* Footer links */

.footer-distributed .footer-links {
	color: #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
}

.footer-distributed .footer-company-name {
	color: #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


/* Footer Center */

.footer-distributed .footer-center {
	width: 35%;
}

.footer-distributed .footer-center i {
	background-color: #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p {
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin: 0;
}

.footer-distributed .footer-center p span {
	display: block;
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
}

.footer-distributed .footer-center p a {
	color: #5383d3;
	text-decoration: none;
	;
}


/* Footer Right */

.footer-distributed .footer-right {
	width: 20%;
}

.footer-distributed .footer-company-about {
	line-height: 20px;
	color: #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span {
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons {
	margin-top: 25px;
}

.footer-distributed .footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

.modal-body form {
	width: 500px;
	margin: 0 auto;
}

input[accept="file"] {
	display: none;
}

.custom-file-upload {
	/*border: 1px solid #ccc;*/
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
}

.fa.fa-cloud-upload.fa-5x {
	color: #337ab7
}

#dashText {
	color: white;
	background-color: #01303f;
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;
	margin-right: 1%;
}

#dashText2 {
	color: #01303f;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
}

#dashGraph {
	background-color: white;
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;
	margin-right: 0.5%;
	padding-bottom: 5%
}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
	#container {
		margin-top: 100px;
		margin-bottom: 40px;
	}
	.table-fill {
		height: 820px;
		max-width: 200px
	}
	
	td {
		padding: 15px;
		font-weight: 300;
		font-size: 13px;
	}
	th {
		font-size: 15px;
		font-weight: 100;
		padding: 24px;
		height: 50px;
	}
	.footer-distributed {
		font: bold 14px sans-serif;
	}
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right {
		display: block;
		width: 100%;
		margin-top: 0%;
		margin-bottom: 0%;
		margin-right: 0%;
		font-size: 10px;
		text-align: center;
	}
	.footer-distributed .footer-center i {
		margin-left: 0;
	}
	/*Registos*/
	#countdown {
		text-align: center;
		font-size: 22pt;
		line-height: 210px;
	}
	h1 {
		
		font-family: 'Chonburi';
		font-size: 30px;
	}
	h3 {
		font-size: 17px;
		;
	}
	#container #atividades2 h1 {
		font-size: 20pt;
		font-family: Mitr;
		text-align: center
	}
	#atividade h1 {
		font-size: 20pt;
	}
	#divLocalizacao h1 {
		font-size: 20pt;
		text-align: center
	}
	form {
		width: 350px;
		margin: 0 auto;
	}
	.modal-body form {
		width: 300px;
		margin: 0 auto;
	}
	#dashText {
		float: none;
		margin: 0 auto;
		width: 200px;
	}
	#dashGraph {
		margin-top: auto;
		margin-bottom: auto;
		text-align: center;
		margin: 0 auto;
	}
	canvas {
		padding-left: 0;
		padding-right: 0;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	.panel-default {
		width: 300px;
		margin-left: 9%;
	}
}
