<h1>Experiencia de fazer adição de actividade</h1>
<form action="https://logspot.herokuapp.com/inserirAtividade" method="post">
        <div class="input-group"><span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
            </span>
                <input id="nomeAtividade" type="text" class="form-control" name="nomeAtividade" placeholder="Nome da Atividade">
        </div>
   
        <div class="input-group"><span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
            </span>
                <input id="codPostal" type="text" class="form-control" name="codPostal" placeholder="Cod-Postal">
        </div>
        <div class="input-group"><span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
            </span>
                <input id="cidade" type="text" class="form-control" name="cidade" placeholder="Cidade">
        </div>

        <div class="input-group"><span class="input-group-addon">
            <i class="glyphicon glyphicon-lock"></i>
            </span>
                <input id="coordLat" type="text" class="form-control" name="coordLat" placeholder="Coordenadas(lat)">
        </div>
        <div class="input-group"><span class="input-group-addon">
            <i class="glyphicon glyphicon-lock"></i>
            </span>
                <input id="coordLng" type="text" class="form-control" name="coordLng" placeholder="Coordenadas(lng)">
        </div>

        <div class="input-group"><span class="input-group-addon">
            <i class="glyphicon glyphicon-lock"></i>
            </span>
                <input id="dataAtividade" type="datetime-local" class="form-control" name="dataAtividade" placeholder="data">
        </div>
        <div class="input-group"><span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
            </span>
                <input id="qrCode" type="text" class="form-control" name="qrCode" placeholder="Texto QRCode">
        </div>
        <button type="submit" id="inserirAtividade" class="btn btn-default">Submit</button>
</form>