<h1>Adicionar Atividade</h1>
<form action="https://logspot.herokuapp.com/inserirAtividade" method="post" onsubmit="return false">
        <div class="input-group"><span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
            </span>
                <input id="nomeAtividade" required type="text" class="form-control" name="nomeAtividade" placeholder="Nome da Atividade">
        </div>

                           <div class="input-group"><span class="input-group-addon">
          <i class="glyphicon glyphicon-tasks"></i>
            </span>
                            <select class="form-control" id="tipoAtividade">
      <option  value="2">Conferência</option>
      <option  value="3">Palestra</option>
      <option  value="4">Formação</option>
      <option  value="5">Reunião</option>
   
    </select>
                        </div>
   
        <div class="input-group"><span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
            </span>
                <input id="codPostal" required type="text" class="form-control" name="codPostal" placeholder="Cod-Postal">
        </div>
        <div class="input-group"><span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
            </span>
                <input id="cidade" required type="text" class="form-control" name="cidade" placeholder="Cidade">
        </div>

        <div class="input-group"><span class="input-group-addon">
            <i class="glyphicon glyphicon-lock"></i>
            </span>
                <input required id="coordLat" type="text" class="form-control" name="coordLat" placeholder="Coordenadas(lat)">
        </div>
        <div class="input-group"><span class="input-group-addon">
            <i class="glyphicon glyphicon-lock"></i>
            </span>
                <input required id="coordLng" type="text" class="form-control" name="coordLng" placeholder="Coordenadas(lng)">
        </div>

        <div class="input-group"><span class="input-group-addon">
            <i class="glyphicon glyphicon-lock"></i>
            </span>
                <input required id="dataAtividade" type="datetime-local" class="form-control" name="dataAtividade" placeholder="data">
        </div>
        <div class="input-group"><span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
            </span>
                <input required id="qrCode" type="text" class="form-control" name="qrCode" placeholder="Texto QRCode">
        </div>
        <button type="submit" id="inserirAtividade" class="btn btn-default">Adicionar</button>
</form>