<h1>Alterar Atividade</h1>
<form>
    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="nome" type="text" class="form-control"
            name="nome" placeholder="Nome da actividade">
    </div>
    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span><input id="local" type="text" class="form-control"
            name="local" placeholder="local da actividades">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>


</form>