<h1>Alterar Administrador</h1>
<form>
    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="nome" type="text" class="form-control"
            name="nome" placeholder="Nome"></div>
    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span><input id="empresa" type="text" class="form-control"
            name="empresa" placeholder="Nome da empresa"></div><button type="submit" class="btn btn-default">Submit</button></form>