<h1>Alterar Password</h1>
<form action="https://logspot.herokuapp.com/alterarPassword" method="post">
        <div class="input-group"><span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
            </span>
                <input required id="passAntiga" type="password" class="form-control" name="nome_actividade" placeholder="Password Antiga">
        </div>
  
        <div class="input-group"><span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
            </span>
                <input  required id="passNova" type="password" class="form-control" name="nome_actividade" placeholder="Nova Password">
        </div>
        <div class="input-group"><span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
            </span>
                <input required id="passNova2" type="password" class="form-control" name="nome_actividade" placeholder="Confirmar Password">
        </div>
         <button type="submit" id="alterarPassword" class="btn btn-default">Adicionar</button>
</form>