<h1>Experiencia de fazer adição de actividade</h1>
<script id="templateObterUtilizador" type="text/x-handlebars-template" data-template-example="">
    {{#each dados}}
    <form action="https://logspot.herokuapp.com/alterarDadosUser" method="post">
        <div class="input-group"><span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
            </span>
            <input id="nomeUser" type="text" class="form-control" value="{{nome}}" name="nome_actividade" placeholder="Nome">
        </div>

        <div class="input-group"><span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
            </span>
            <input id="apelidoUser" type="text" class="form-control" value="{{apelido}}" name="nome_actividade" placeholder="Apelido">
        </div>
        <div class="input-group"><span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
            </span>
            <input id="emailUser" type="text" class="form-control" value="{{email}}" name="nome_actividade" placeholder="Email">
        </div>


        <div class="input-group"><span class="input-group-addon">
            <i class="glyphicon glyphicon-lock"></i>
            </span>
            <input id="dataNasUser" type="datetime" class="form-control" value="{{data}}" name="data" placeholder="Dada Nascimento">
        </div>
        <button class="btn btn-default">Cancelar</button>
        <button type="submit" id="alterarDadosUser" class="btn btn-default">Alterar Dados</button>
    </form>
    {{/each}}
</script>

<script type="text/javascript">
    var $content = $('#container');
    $(function () {

        $.ajax({
            type: 'POST',
            dataType: "json",
            contentType: 'application/json',
            url: 'https://logspot.herokuapp.com/obterUtilizador',
            success: function (data) {
                console.log("Já estou")
                context = {
                    dados: data
                };
                console.log(context)

                $content.handlebars('add', '#templateObterUtilizador', context, {
                    remove: false
                });

            }
        })


    });


</script>