<script type="text/javascript" src="https://logspot.herokuapp.com/static/scripts/encodeqrcode.js"></script>

<h1>Gerar QRCode</h1>
<div class="container">
	<div class="row">
		<form>
			<input id="text" type="text" class="form-control" value="Insira o texto QR da Atividade" />

		</form>

		<div class="row" style=" text-align: center;">
			<div id="qrcode" style="  display: inline-block; width:200px; height:200px; padding-top:2%;"></div>
		</div>
		
		<div class="row" style=" text-align: center; padding-top: 3%">
			<a href="#"  onclick="this.href = $('#qrcode img').attr('src');" download> <i class="fa fa-cloud-download fa-5x"></i> <br> Dowload</a>
		</div>




	</div>


</div>






<script type="text/javascript">
	var qrcode = new QRCode(document.getElementById("qrcode"), {
		width: 200,
		height: 200
	});

	function makeCode() {
		var elText = document.getElementById("text");

		if (!elText.value) {
			//alert("Input a text");
			elText.focus();
			return;
		}

		qrcode.makeCode(elText.value);
	}

	makeCode();

	$("#text").
	on("blur", function () {
		makeCode();
	}).
	on("keydown", function (e) {
		if (e.keyCode == 13) {
			makeCode();
		}
	});
</script>