<h1>Importar Utilizadores</h1>
<form>

    <label for="csvFileInput"> <strong>CSV ou TXT File:</strong>
          </label>
    <input type="file" id="csvFileInput" onchange="handleFiles(this.files)" accept=".csv,.txt">
    </div>

</form>
<br>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <!--<th>ID</th>-->
                <th>Nome</th>
                <th>Email</th>
                <th>Empresa</th>

            </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>
</div>
<form action="https://logspot.herokuapp.com/inserirAtividade" method="post">
    <button type="submit" id="importarUtiizadores" class="btn btn-default">Submeter Utilizadores</button>

</form>

<script type="text/javascript" src="https://logspot.herokuapp.com/public/scripts/read-csv.js"></script>